*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: white;
}
nav .logo p{
    margin-left: 20px;
    font-size: 24px;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav ul li{
    margin-right: 20px;

}
nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
nav li a:hover{
    background-color: rgb(27, 48, 132);
    color: white;
    padding: 10px 20px;
}
.social{
    display: flex;
}
.social i{
    font-size: 24px;
    margin-right: 20px;
}
.background {
    background-image: url('./assets/home.jpg'); /* Change 'home.jpg' to the path of your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.about-section{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 526px;
 height: 58px;
 margin-top: 1216px;
 margin: 599px;
}
.about-head h1{
    font-weight: 400;
    font-size: 60px;
    align-items: center;
    color: #ffffff;
}
